.wrapper {
  padding-top: 30px;
}

body h3 {
  margin-bottom: 25px;
}

body h4 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.navbar-brand a {
  color: #ffffff;
}

.colored-nav {
  background-color: #014686ff;
}

.nav-link {
  color: white !important;
}

.form-wrapper,
.table-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 700px;
}

.myList {
  margin-top: 30px;
  margin-bottom: 40px;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.popover-override {
  z-index: 1060;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
}

